.App {
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  padding: 24px;
}

.App > header {
  font-size: calc(10px + 2vmin);
  margin-bottom: 24px;
}

.App textarea {
  // margin: 24px;
}
